html
{
    box-sizing: border-box;
}
*, *:before, *:after
{
    box-sizing: inherit;
}


body
{
    background: linear-gradient(to bottom left, #239ff1, #FB69A2, white);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* ----------------------Wrapper/Container---------------------- */
.Aboutwrapper
{
    /* top: 1000px; */
    max-width: 900px;
    max-height: 600px;
    width: 90%;
    height: 100%;;
    font-size: 20px;
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: white; */
}

.box
{
    background-color: white;
    /* background-color: black; */
    width: 900px;
    height: 430px;
    /* float:left; */
    padding: 20px;
    margin: 20px;
    margin-left: 25px;
    border-radius: 10px;
    box-shadow: -15px 15px 20px rgba(0,0,0, 0.25);
    vertical-align: middle;
}

.box:hover
{
    transform: scale(1.1);
}

h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5F5A5C;
}

p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 35px;
    text-align: justify;
    align-items: stretch;
    align-content: stretch;
}

@media screen and (max-width:600px)
{
    h1
    {
        font-size: 25px;
    }
    p
    {
        font-size: 15px;
        line-height: 25px;
    }
}