html
{
    box-sizing: border-box;
}
*, *:before, *:after
{
    box-sizing: inherit;
}

/* ------------------------double bgcolor--------------------- */
.top
{
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    height: 50%;
}

.bottom
{
    background-color: white;
    width: 100%;
    bottom: 0px;
    position: absolute;
    height: 50%;
}

/* ----------------------Wrapper/Container---------------------- */
.wrapper
{
    top: 0px;
    max-width: 900px;
    width: 80%;
    height: 80%;;
    font-size: 20px;
    margin: 120px auto;
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: black; */
}

/* ---------------------All 3 Boxes--------------------------- */

.Linkedin, .Instagram, .Gmail, .Github
{
    background-color: white;
    /* background-color: black; */
    width: 250px;
    height: 400px;
    float:left;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    border: 0.5px solid gray;
    border-radius: 7%;
    box-shadow: 10px 20px 20px rgba(0,0,0, 0.15);
    vertical-align: middle;
    
       
}

/* ----------------------Box-Hover----------------------- */

.Linkedin:hover
{
    transform: scale(1.1);
}

.Instagram:hover
{
    transform: scale(1.1);
}

.Gmail:hover
{
    transform: scale(1.1);
}

.Github:hover
{
    transform: scale(1.1);
}
/* ------------------social media icon--------------------- */
.logostyle
{
    margin: 0 65px;
    position: relative;
}

/* --------------------Button and Style----------------- */
.button
{
    width: 200px;
    height: 35px;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin:5px auto;
}

.Linkbutton
{
    background-color: #0951ed;
    margin-bottom: 10px;
}

.Instabutton
{
    margin-top: 9px;
    margin-bottom: 10px;
    background-color: #D01561;
    
}

.Gmailbutton
{
    margin-top: 9px;
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: #FA3232;
}

.Githubbutton
{
    margin-top: 9px;
    margin-left: 2px;
    margin-bottom: 10px;
    background-color: black;
}

